[submodule "apriltags3_ros/apriltags3/include/apriltags/apriltag"]
	path = apriltags3_ros/apriltags3/include/apriltags/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "apriltags3_ros/apriltags3/include/apriltag"]
	path = apriltags3_ros/apriltags3/include/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
