<launch>
    <arg name="pkg_name" value="apriltags2_ros"/>
    <arg name="node_name" default="apriltag2_detector_node"/>

    <arg name="veh" default="$(env VEHICLE_NAME)" doc="Name of vehicle. ex: megaman"/> 
    <arg name="local" default="true" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>

    <group ns="$(arg veh)">

        <node name="apriltags3_detector_node" pkg="apriltags3_ros" type="apriltags3_detector_node.py" output="screen"/>
        </group>
</launch>
